[application]
app_port = 8002
app_path= "/v1"
app_url= "localhost:8002"

enable_db_migration=true
env="development"

default_max_requests_per_minute=5


jwt_secret_key= "supersecretkey"
app_jwt_access_expires_in=900        # 15 menit (access token)
app_jwt_refresh_expires_in=604800    # 7 hari (refresh token)

#GOOGLE_CLIENT_ID=xxxx.apps.googleusercontent.com
google_client_id=""
#GOOGLE_CLIENT_SECRET=xxxx_secret_here
google_client_secret=""
google_redirect_uri="http://localhost:8001/v1/auth/google/callback"
frontend_url="http://localhost:3000/dashboard"
cors_origins="http://localhost:3000,http://example.com"
public_routes=[
  "/",
  "/v1",
  "/v1/health",
  "/swagger/*",
  "/swagger/index.html",
  "/swagger/doc.json",
  "/v1/auth/login",
  "/v1/auth/register",
  "/v1/auth/google/login",
  "/v1/auth/google/callback"
]

enable_log = true
enable_log_to_file = true
log_path = "logs/access_log.log"


[database]
db_host= "localhost"
db_port= 5432
db_user= "postgres"
db_password= ""
db_name= "media_stream"

[redis]
redis_host= "localhost"
redis_port= 6379
redis_password= ""

